@using EpiBookingSystem
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Core;
@using EPiServer.ServiceLocation;
@using EPiServer;
@using System.Globalization;
@model StandardPageViewModel

@{ var userName = System.Web.HttpContext.Current.User.Identity.Name; }


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@if (User.IsInRole("Admin"))
{
    <div class="pure-g">
        <div class="pure-u-3-5">
            <h4>Bokningar:</h4>
            <hr />
            @foreach (var item in Model.Appointments.OrderByDescending(x => x.Date))
            {

                <p>Behandling: @item.Treatment.Name </p>
                <p>Datum: @item.Date.ToString("yyyy/MM/dd HH:mm")</p>
                <p>Kund: @item.Customer.UserName</p>
                @Html.ActionLink("Avboka kunds bokning", "CancelAppointment", "Booking", new { appointmentId = item.AppointmentId }, null)
                <hr />

            }
        </div>
        <div class="pure-u-1-5 add-treatment">
            <h4>Lägg till behandling</h4>
            @using (Html.BeginForm("AddTreatment", "Booking", FormMethod.Post, new { @class = "pure-form pure-form-stacked" }))
            {
                <fieldset>
                    @Html.TextBoxFor(m => m.Treatment, new { placeholder = "Behandling", @class = "pure-input-1-1 input-spacer" })
                    @Html.TextAreaFor(m => m.Description, new { placeholder = "Beskrivning", @class = "pure-input-1-1 input-spacer" })
                    <input type="submit" class="pure-button pure-button-primary" value="Lägg till behandling" />
                </fieldset>




            }

        </div>
    </div>
    <div>
        @foreach (var item in Model.Treatments)
        {
            <p>@item.Text</p>
            @Html.ActionLink("Ta bort", "DeleteTreatment", "Booking", new { treatmentId = item.Value }, null)

        }
    </div>
}
else
{

    <div class="pure-g">
        <div class="pure-u-1 center-align-content">

            @Html.DisplayFor(x => x.CurrentPage.MainBody)
            <hr />
        </div>
        <div class="pure-u-1">

            @Html.PropertyFor(x => x.CurrentPage.MainContentArea)

        </div>
    </div>

    <hr />

}

