@using EpiBookingSystem
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Core;
@using EPiServer.ServiceLocation;
@using EPiServer;
@model StandardPageViewModel

@{ var userName = System.Web.HttpContext.Current.User.Identity.Name; }


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.IsInRole("Admin"))
{

    <h2>adminvy</h2>
}
else
{
    <div>
        @Html.PropertyFor(x => x.Test, new { CssClass = "row" })
    </div>

    @*<div class="col-lg-8">
            <h2>Boka behandling:</h2>
            @using (Html.BeginForm("BookAppointment", "Booking", FormMethod.Post))
            {

                @Html.DropDownListFor(m => m.TreatmentId, Model.Treatments, "Välj behandling", new { @class = "form-control" })


                <div class='input-group date' id='datetimepicker'>
                    <input type='text' class="form-control" name="Date" />
                    <span class="input-group-addon">
                        Välj datum här
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>

                </div>

                <input type="submit" class="" value="Boka" />

            }


        </div>*@








    <div class="col-lg-4" style="float: right;">
        <h2>Dina bokningar:</h2>
        @foreach (var item in Model.Appointments)
        {

            <h3>@item.Treatment.Name</h3>
            <p>@item.Date.ToString("MM/dd/yyyy HH:mm")- @Html.ActionLink("Avboka", "CancelAppointment", "Booking", new { appointmentId = item.AppointmentId }, null)</p>
            <p>@item.Treatment.Description</p>

        }
    </div>
}


<script type="text/javascript">


    $(document).on('dp.show', function (e) {

    });

    $(function () {
        $('#datetimepicker').datetimepicker({
            daysOfWeekDisabled: [0, 6],
            sideBySide: true,
            stepping: 15



        })
    });
</script>
