@{ var userName = System.Web.HttpContext.Current.User.Identity.Name; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Capio Ögon Bokningssystem</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script src="~/Static/js/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Static/css/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Static/js/JavaScript.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <div class="header header-padding">
        <div class="home-menu pure-menu pure-menu-horizontal">
            <div class="header-links">
                <ul class="pure-menu-list">
                    @if (!User.IsInRole("WebAdmins") && User.Identity.IsAuthenticated)
                    {
                        <li class="pure-menu-item">Välkommen @userName</li><br />
                        <li class="pure-menu-item">@Html.ActionLink("Logga ut", "LogOut", "Account")</li>
                    }
                    else
                    {
                        <li class="pure-menu-item">
                            @Html.ActionLink("Logga in", "LogIn", "Account", new { area = "" }, new { @class = "" }) |
                        </li>
                        <li class="pure-menu-item">
                            @Html.ActionLink("Skapa konto", "Register", "Account", new { area = "" }, new { @class = "" })
                        </li>
                    }
                </ul>
            </div>

            <a href='@Url.Action("Index", "StandardPage")'>
                <img src='@Url.Content("~/Static/img/capioogon.PNG")' />
            </a>
        </div>
        <hr />
        </div>
    


    <div class="splash-container">
        <div class="splash content">
            @RenderBody()

            <footer></footer>
        </div></div>




</body>
</html>